
<app-menu></app-menu>

<div class="container">

  <h1 class="text-center m-5">Peliculas</h1>
  <button *ngIf="isAdmin" class="btn btn-info btn-info mb-5" routerLink="/peliculas/formulario" >Crear pelicula</button>

  <div class="row row-cols-md-4">
  <div  *ngFor="let pelicula of peliculas">
    <div class="col-md-12 mt-4">
  <div class="card bg-dark text-white text-center">
    <div class="card-body">
      <h3 class="card-title">{{ pelicula.titulo }}</h3>
      <img class="card-img-top img-responsive d-block" src={{pelicula.portada}} alt="imagen" height="250px" width="100%">
      <div class="card-body d-flex justify-content">
        <button class="btn btn-dark m-2" [routerLink]="['/peliculas/detalles/', pelicula.id]" ><i class="fa-solid fa-eye"></i> Ver</button>
        <button *ngIf="isAdmin" class="btn btn-warning" [routerLink]="['/peliculas/formulario/', pelicula.id]" > <i class="fa-solid fa-pen-to-square"></i></button>
        <button *ngIf="isAdmin" class="btn btn-danger m-2" (click)="delete(pelicula)"> <i class="fa-solid fa-trash"></i> </button>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>

<div *ngIf="peliculas.length > 0" class="card-body m-4 pagination justify-content-center">
  <td><i style="cursor: pointer;" class="fa-solid fa-angles-left fa-2x" (click)="rewind()"></i></td>
  <td colspan="2">
    <span *ngFor="let page of totalPages; let i = index">
      <a style="cursor: pointer;" class="page-link d-inline-flex ml-2" (click)="setPage(i)" [ngClass]="{'text-primary':i===page}" > {{i+1}}  </a>
    </span>
  </td>
  <td><i style="cursor: pointer;" class="fa-solid fa-angles-right fa-2x" (click)="forward()"></i></td>
</div>

</div>
